@charset "UTF-8";


/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Layout
━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.wrap {
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 375px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrap--component {
  background-color: #fff;
}
.external-footer {
  background-color: var(--color-primary-text);
  bottom: 0;
  left: 0;
  padding: 16px 24px;
  position: absolute;
  right: 0;
}
.external-footer__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
}
.external-footer__item {
  margin: 0 8px 0;
}
.external-footer__nav-list {
  align-items: center;
  display: flex;
  margin: 0 -8px 0;
}
.external-footer__nav-list > li {
  margin-left: 8px;
  margin-right: 8px;
}
.external-footer__nav-list > li > a {
  color: #fff;
  font-size: var(--text-note-size);
}
.external-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 24px 24px 84px;
  width: 100vw;
}
.external-content__inner {
  max-width: 400px;
  width: 100%;
}
.external-content__header {
  margin-bottom: 32px;
}